{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": -42.9162215848945,
        "longitude": 147.34448888339105,
        "elevation": 200,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Australia/Hobart",
        "external_url": null,
        "internal_url": null,
        "currency": "AUD"
    }
}