!*.yaml
!.gitignore
!*.sh
!*.md

.env
home-assistant.log*
id_rsa*
.ssh

configurator-config/
portainer/portainer_data/portainer.db
hass-config/
hass-config/.storage/*
vscode/
zigbee2mqtt/
zigbee2mqtt/data/*
mariadb/
portainer/
mosquitto/
nodered/
