!*.yaml
!.gitignore
!*.sh
!*.md

.env
hass-config/.cloud
hass-config/.storage
home-assistant.log*
id_rsa*
.ssh

configurator-config

hass-config   

vscode  
zigbee2mqtt
mariadb
portainer
mosquitto
nodered
