esphome:
  name: esp32-test-2

esp32:
  board: esp32dev
  framework:
    type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "/oDhjXBd9sSqG93WNal9P+rnzTRoYiGFCFleMLJypUY="

ota:
  password: "a10b8af54b0c6fa7c571e95d2a89b80b"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esp32-Test-2 Fallback Hotspot"
    password: "4fP0lXvJZqxV"

captive_portal:
    